<a href="https://colab.research.google.com/github/miqdok/assembly/blob/main/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 5
b = 5
print(id(a))
id(a) == id(b)

10750984

True

**Змінні рівні за значенням та посилаються на той же об'єкт в пам'яті**

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
c = True
print(isinstance(c, (bool, int)))
print(isinstance(c, int))
isinstance(c, bool)

True
True

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
d = 1.2
print(a + d)
print(a - d)
print(a / d)
print(a * d)
print(a // d)
print(a % d)
print(a ** d)

6.2
3.8
4.166666666666667
6.0
4.0
0.20000000000000018
6.898648307306074

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
int_d = int(d)
print(f"d = {int_d}")

int_c = int(c)
print(f"c = {int_c}")
# isinstance(int_c, int)

d = 1
c = 1

True

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
string1 = ""
string2 = str()
print(string1 == string2)
len(string1)

True

0

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
string1 = "My name's Milana"
print(string1)
string2 = r"My name's Milana"
print(string2)

My name's Milana
My name's Milana

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Horalevych"
formatted_surname = f"My surname is {my_surname}"
print(formatted_surname)

My surname is Horalevych

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string1 = "My dog is crazy"
list1 = string1.lower().split()
list1

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list2 = []
list3 = list()
len(list3)

0

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list2 = [2]
list3 = [3]
list2.extend(list3)
list2

[2, 3]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list23 = [list2, list3]
list23[:1]

[[2, 3]]

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
random_list = [list2, 4, True, 6.6, (5,7), "fdas", {"A": 65}, 89457, 790.2222222, False]
res_list = random_list[2:8]
res_list

[True, 6.6, (5, 7), 'fdas', {'A': 65}, 89457]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple_one = (4,)
isinstance(tuple_one, tuple)

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

**Схожості: вони впорядковані, є індексація, підтимують роботу з різними типами даних та зі слайсами.
Відмінності: кортеж незмінний, а тому й швидший (у циклах часто використовують).
Список же універсальний, коли потрібна зміна даних**

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple1[::-2]

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
set1.add(3)
set1.add(4)
set1

{3, 4}

**Yes**

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set2 = set(my_list)
set2

{1, 2, 8, 9, 67}

**Because they have duplicates**

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
print(set1 | set2)
print(set1 - set2)
print(set1 & set2)
print(set1 ^ set2)

{1, 2, 3, 4, 67, 8, 9}
{3, 4}
set()
{1, 2, 67, 3, 4, 8, 9}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict1 = {}
dict1[65] = "A"
dict1["B"] = 66
dict1[4.4] = 2.2
dict1[True] = False

**No, list is mutable**

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dict2 = {
    67: "C"
}
dict1["dict2"] = dict2
print(dict1["dict2"][67])

C

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.